<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to Ink & Shadows, where words come alive and stories unravel into all of their raw, mysterious beauty. 
            We deep dive into the unknown, the relatable, and the unexpected, lighting up those corners of life. 
            It's so much more than just a blog-Ink & Shadows is a home for people who just love stories that balance light and dark, playful and profound.
            Whether one is looking for inspiration, seeking insight, or just a place to daydream, we craft our posts to strike a chord in the curious soul. 
            We write with a sense of wonder and mystery sprinkled with mischief as we try to explore anything from life's messy truths to little wonders. 
            With thought-provoking articles, creative musings, and personal stories, we will make every reader feel seen, challenged, and inspired.
            So pour yourself a cup of coffee, get comfortable, and join us on this journey. 
            Let's delve into the shadows together and celebrate the ink that gives life to them.
        </p>     
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>